# --- .NET ---
**/bin/
**/obj/
*.user
*.suo

# --- Node / Angular ---
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- OS / Editor ---
.DS_Store
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# --- Docker ---
**/.env